body {
    background: #FFF;
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
header{
    display:flex;
    flex-direction: column;
}
.topo{
    display: flex;
    height: 130px;
}
.logo{
    flex:2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topo-menu{
    flex:3;
    display: flex;
    flex-direction: column;
}
.topo-info{
    height: 70px;
}
.topo-info ul {
    list-style: none;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
.topo-info li a, #tel{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #858685;
}
#normal a{
    font-weight: normal;
    font-size: 11px;
}
.busca{
    display: flex;
    justify-content: space-between;
    height: 60px;
}
.campo-busca{
    flex:2;
}
.campo-busca form{
    display: flex;
    height: 60px;
}
#busca{
    flex: 5;
    border: 1px solid #043D81;
    padding: 0 10px;
}
#button{
    flex:1;
    background-color: #043D81;
    border: 0;
    color:#FFF;
    font-size: 18px;
}
.cart{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cartarea{
    font-size: 50px;
}
.cartarea span{
    color:#043D81;
}
.cartqt{
    position: absolute;
    font-size: 40%;
    font-weight: bold;
    background-color: #FE9800;
    color:#043D81;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 25px;
    margin-top: -52px;
    margin-left: 13px;
}
.menu {
    background-color: #043D81;
    display: flex;
    justify-content: center;
    margin: 0;
    padding:0;
    height: 70px;    
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding:0;
    height: 70px;
}
nav li{
    list-style: none;
    font-size: 17px;
    border-left: 2px solid #FFF;
    height: 70px;
    line-height: 70px;
    margin: 0;
    padding: 0 40px;
}
nav a{
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
}
