/*Inicio CSS HOME TEMPLATE*/
body {
    background: #FFF;
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
header{
    display:flex;
    flex-direction: column;
}
.topo{
    display: flex;
    height: 130px;
}
.logo{
    flex:2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topo-menu{
    flex:3;
    display: flex;
    flex-direction: column;
}
.topo-info{
    height: 70px;
}
.topo-info ul {
    list-style: none;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
.topo-info li a, #tel{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #858685;
}
#normal a{
    font-weight: normal;
    font-size: 11px;
}
.busca{
    display: flex;
    justify-content: space-between;
    height: 60px;
}
.campo-busca{
    flex:2;
}
.campo-busca form{
    display: flex;
    height: 60px;
}
#busca{
    flex: 5;
    border: 1px solid #043D81;
    padding: 0 10px;
}
#button{
    flex:1;
    background-color: #043D81;
    border: 0;
    color:#FFF;
    font-size: 18px;
}
.cart{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cartarea{
    font-size: 50px;
}
.cartarea span{
    color:#043D81;
}
.cartqt{
    position: absolute;
    font-size: 40%;
    font-weight: bold;
    background-color: #FE9800;
    color:#043D81;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 25px;
    margin-top: -52px;
    margin-left: 13px;
}
.menu {
    background-color: #043D81;
    display: flex;
    justify-content: center;
    margin: 0;
    padding:0;
    height: 70px;    
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding:0;
    height: 70px;
}
nav li{
    list-style: none;
    font-size: 17px;
    border-left: 2px solid #FFF;
    height: 70px;
    line-height: 70px;
    margin: 0;
    padding: 0 40px;
}
nav a{
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
}
.corpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 600px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
#banner .container{
    width: 1140px;
    height: 450px;
    margin-bottom: 30px;  
}
.carousel-indicators li{
    background: #0D3F80;
    border: #0D3F80;
}
.carousel-indicators .active{
    background: #FE9900;
    border: #FE9900;
}
.titulo h1{
    font-size: 45px;
    color:#043D81;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 3px solid #FE9900;
    text-align: center;
    padding-bottom: 10px;
}
/*Fim CSS Template-Topo

Inicio CSS Home-Produto*/
#secao-home{
    margin-top: 20px;
}
.w3-content{
    width:100%;
    min-width: 1200px;
}
.produtos-home{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#article-home{    
    width: 240px;
    height: 800px;
/*    border: 2px solid #8AA1D0;
    border-radius: 30px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
#article-home:hover .produto-home-imagem img{
    min-width: 230px;
    min-height: 230px;
}
#article-home a:hover {
    text-decoration: none;
}
.produto-home-imagem{
    height: 350px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.produto-home-imagem img{
    max-width: 200px;
    max-height: 240px;
}
.produto-home-descricao{
    height: 70px;
    width: 235px;
}
.produto-home-marca{
    height: 50px;
    width: 235px;
    margin-left: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.produto-home-descricao h2 {
    color: #858785;
    font-size: 120%;
    font-weight: bold;
}
.produto-home-marca p {
    color: #858785;
    font-size: 17px;
    font-weight: bold;
}

.produto-home-valor-de{
    height: 35px;
    width: 235px;
    margin-left: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: lighter;
}
.produto-home-valor-de p{
    color: #043D80;
    font-size: 16px;
}
.produto-home-valor-por{
    height: 85px;
    width: 235px;
    margin-left: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.produto-home-valor-por p{
    margin-right: 5px;
    color: #043D80;
    font-size: 24px;
}
.produto-home-valor-por strong{
    margin-bottom: 0;
    color: #043D80;
    font-size: 30px;
}

.produto-home-add-to-cart{
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.produto-home-add-to-cart a:hover{
    text-decoration: none;
}
.produto-home-add-to-cart a:hover .add-cart{
    background-color: #043D80;
}
.produto-home-add-to-cart a:hover .add-cart span {
    color: #FE9900;
}
.produto-home-add-to-cart a:hover .add-cart p{
    color: #FE9900;
}
.produto-home-add-to-cart a:hover .add-cart strong{
    color: #FE9900;
}
.add-cart{
    height: 80px;
    width: 220px;
    background-color:#FE9900;
    border-radius: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.add-cart span{
    font-size: 30px;
    color: #043D80;
}
.add-cart p{
    font-size: 16px;
    color: #043D80;
    margin-bottom: 0;
    margin-right: 5px;
}
.add-cart strong{
    font-size: 20px;
    color: #043D80;
}
.produto-home-obs{
    height: 90px;
}
.produto-home-obs p{
    color: #858785;
    font-size: 12px;
}
.button-prev{
    text-align: left;
    display: block;
    position: relative;
}
.button-slide1{
    font-size: 50px;
    border: 1px solid #A7C7FF;
    margin-top: -550px;
    background: transparent;
}
.button-slide1:hover{
    color:#043D80;
    background-color: #FFF;
  
}
.button-next{
    text-align: right;
    display: block;
    position: relative;
}
.button-slide2{
    font-size: 50px;
    border: 1px solid #A7C7FF;
    margin-top: -550px;
    background: transparent;
}
.button-slide2:hover{
    color:#043D80;
    background-color: #FFF;
  
}
/*Fim CSS HOME - PRODUTO

INICIO CSS Footer*/
footer{
    height: 410px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;
}
.rodape{
    background-color: #000;
    height:360px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}
.rod1{
    height: 100%;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.rod1 img{
   
    max-height: 80px;
}
.rod1 p{
    color:#FFF;
    font-size: 16px;
    margin-top: -60px;
}
.rod1 a{
    color:#FFF;
}
.rod1 a:hover{
    text-decoration: none;
    cursor:text;
}
.rod2{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    margin-top: 60px;
}
.rod2 p{
    height: 40px;
    color:#FFF;
    font-size: 24px;
    padding: 0;
    
}
.rod2 ul {
    list-style: none;
    margin:0;
    padding: 0;
}
.rod2 ul li{
    margin-bottom: 10px;
}
.rod2 ul li a{
    color:#FFF;
    
}
.rod3{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 60px;
}
.rod3a{
    
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.rod3a p{
    height: 40px;
    color:#FFF;
    font-size: 24px;
    padding: 0;
    
}
.rod3a ul {
    list-style: none;
    margin:0;
    padding: 0;
}
.rod3a ul li{
    margin-bottom: 5px;
}
.rod3a ul li a{
    color:#FFF;
    font-size: 16px;
}
.rod3b p{
    height: 40px;
    color:#FFF;
    font-size: 24px;
    padding: 0;
    margin-top: 20px;
}
.social{
    display: flex;
}
.social img {
    height: 34px;
    width: 34px;
    margin-right: 10px;
}
.rod4{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 60px;
}
.rod4a{
    
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.rod4a p{
    height: 40px;
    color:#FFF;
    font-size: 24px;
    padding: 0;
    
}
.rod4a img{
    height: 45px;
}
.rod4b p{
    height: 40px;
    color:#FFF;
    font-size: 24px;
    padding: 0;
    margin-top: 20px;
}
.copyright{
    height: 50px;
    line-height: 50px;
    background-color: #CBCBCB;
    text-align: center;
    margin: 0;
    padding: 0;
}
.copyright p{
    color:#043D80;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
/*Fim CSS Footer-TEMPLATE

Inicio CSS Pagina Produto*/
.produto{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 850px;
}
.title{
    text-align: center;
    height: 80px;
    line-height: 80px;
    margin-top: 30px;
    padding-left: 30px;
}
.title h1{
      font-size: 40px;
      color:#043D80;
}
.links, .links a, .links span {
    color: #888;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 40px;
}
.info-produto{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
    
}
.imagens-produto{
    padding-left: 30px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.mainphoto {
    min-height: 420px;
    margin-bottom: 10px;
}
.mainphoto img{
    min-width: 400px;
}
.galeria{
    display: flex;
    flex-direction: row;
}
.photo-item{
  
    margin-left: 0;
    margin-bottom: 50px;
    margin-top: 30px;
    width: auto;
    height: auto;
    min-height: 130px;
    padding: 10px;
}
.photo-item img{
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
}
.photo-item:hover {
    cursor: pointer;
}
.info-shop{
    margin-right: 30px;
    min-height: 100px;
    min-width: 500px; 
    display: flex;
    flex-direction: column;
}
.info-shop div{
    margin: 20px;
}
.info-shop .valor_de{
    margin-bottom: 0;
}
.info-shop span{
    font-size: 16px;
    color: #043D80;
    font-weight: lighter;
}
.info-shop #de{
    font-size: 18px;
    color: #043D80;
    font-weight: lighter;
}
.info-shop #por{
    font-size: 50px;
    color: #043D80;
    font-weight: lighter;
}
.add-to-cart {
    background: #FE9900;
    border:0;
    color:#043D80;
    font-size: 20px;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    font-weight: bold;
}
.add-to-cart:hover {
    color: #FE9900;
    background: #043D80;
}
.addtocart_qt, div form button{
    color: #043D80;
    font-size: 20px;
    text-align: center;
    background: transparent;
    border:0;
    border: 1px solid #ccc;
    width: 34px;
}
.retire{
    background: #F4F4F4;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
#retire{
    color: #0083CA;
    
}
.frete input{
    height: 40px;
    border: 1px solid #043D80;
    border-radius: 4px;
    font-size: 18px;
}
#ok{
    color:#FFF;
    background: #043D80;
    margin-left: -88px;
    border: 2px solid #043D80;
    border-radius: 0px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px; 
    padding: 10px;
}


/*Fim CSS Pagina Produto*/

/*Inicio CSS Modal Frete*/

#mdfrete{
    margin-top: 40%;
    height: 170px;
    width: 400px;
}
#mdFrete h2{
    text-align: center;
    color: #043D80;
    font-size: 22px;
}
.freteModal{
    margin-bottom: 25px;
    text-align: left;
    font-size: 16px;
}
.modal-content{
    border:5px solid #043D80;
}
.modal-body {
    text-align: center;
    
}
.modal-body a span{
    color:#FFF;
    background: #043D80;
    border: 2px solid #043D80;
    border-radius: 0px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px; 
    padding: 10px;
}
.descricao{;
    background-color: #eee;
    
}
.descricao article{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 50px;
}
.listaOrdenada{
    display: flex;
}
.descricao h4{
    text-align: justify;
}
/*Fim CSS Modal Frete

Inicio CSS Busca*/
.produtos-busca{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.buscar{
    text-align: right;
    min-height: 800px;
    padding: 20px 15px 15px;
}
.buscar a{
    text-align: center;
    font-size: 18px;
}
#buscar{
    color:#043D80;
    border-bottom: 3px solid #FE9900;
    text-align: center;
    padding-bottom: 10px;
    font-size: 30px;
}
/*Fim CSS Busca

Inicio CSS Cart*/
#modalAddProduto{
    margin-top: 40%;
    height: 80px;
    width: 650px;
}
#modalAddProduto .modal-content .modal-body {
    height: 200px;
    width: 650px;
    text-align: left;
}
#modalAddProduto .modal-body a span{
    background: transparent;
    color:#043D80;
    border:0;
}
.modalAddCart{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    align-items: center;
}
.modalAddCart form{
    margin-top: 30px;
}
    
.infomodal{
    display: flex;
    align-items: center;
}
.description{
    margin-left: 10px;
}
.addCartImage img{
    width:80px;
}